p ng-show='sqlConfigPath' <kbd>{{sqlConfigPath}}</kbd> will be automatically created based on the above params. Your old <kbd>{{sqlConfigPath}}</kbd> (if any) will be backed up.
p ng-hide='sqlConfigPath' No configuration files will be created.
