sudo: false
language: ruby
cache: bundler
before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
before_script:
  - psql -c 'create database railsbox_test;' -U postgres
  - bundle exec rake db:test:prepare
addons:
  postgresql: '9.3'
