.jumbotron {
  padding: 40px 0px 15px;
  margin-bottom: 0px;
}

.step-number {
  h1 {
    font-size: 4em;
    color: #fff;
  }
}

.step-number {
  background: $brand-success;
}

mark {
  white-space: nowrap;
}