$drop-area-height: 500px;

.widgets-collection {
  ul.widgets {
    margin-bottom: 0;
  }
}

.constructor {
  .bootstrap-select {
    width: 100% !important;
  }

  .drop-area {
    min-height: $drop-area-height;

    ul {
      height: $drop-area-height;
      overflow: auto;
    }

    ul:empty {
      background: $panel-default-heading-bg;
      padding: 10px;
      border-radius: $border-radius-base;
      text-align: center;
      padding-top: $drop-area-height / 2 - 20;
      
      &::after {
        content: attr(data-empty-message);
        font-size: 2em;
      }
    }
  }
}
