body {
  padding-top: $navbar-height;
  background-image: image-url('debut_light.png');
}

footer {
  @include dark-background;
  padding: 50px 0px;

  p {
    margin: 0px;
  }
}

a.anchor {
  display: block;
  position: relative;
  top: -$navbar-height;
  visibility: hidden;
}
