body {
  padding-top: $navbar-height;
  background-image: image-url('debut_light.png');
}

footer {
  @include dark-background;
  padding: 50px 0px;

  p {
    margin: 0px;
  }
}

#start {
  padding-top: 35px;
  padding-bottom: 35px;
}
