footer {
  background-color: $jumbotron-bg;
  padding: 50px 0px;

  p {
    margin: 0px;
  }
}

.step:last-child .col-lg-12 {
  padding-top: 10px;
  padding-bottom: 50px;
}

.row {
  overflow: hidden; 
  &.step {
    border-bottom: 1px solid #fff;
  }
}

.step-number[class*="col-"] {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

#start {
  padding-top: 40px;
  margin-top: -40px;
}
