.jumbotron {
  @include dark-background;

  padding: 30px 0px 35px;
  margin-bottom: 0px;

  h1 {
    color: $logo-light-color-1;
    span {
      color: $logo-light-color-2;
    }
  }

  h2 {
    margin-top: 10px;
    font-weight: 200;
  }

  p {
    margin-top: 40px;
    font-weight: 200;
    strong {
      font-weight: 300;
    }
    &.button {
      a {
        font-weight: 300;
      }
      text-align: center;
    }
  }
}

.step-number {
  @include border-right-radius(10px);
  h1 {
    text-align: center;
    font-size: 4em;
    color: #fff;
    margin: 10px 0px;
  }
}

.step-number {
  background-image: image-url('debut_dark.png');
}

.step {
  padding: 25px 0px;
}

.download-step .col-lg-12 {
  text-align: center;
  button {
    font-size: 2.5em;
  }
}

input.ng-invalid[type=text] {
  background-color: lighten($brand-danger, 30%);
}
