p You will need <a href="https://www.virtualbox.org/wiki/Downloads">VirtualBox</a>, <a href="https://www.vagrantup.com/downloads.html">vagrant</a> and <a href="http://docs.ansible.com/intro_installation.html">ansible</a> to be installed. ansible also requires Python and some Python modules to be installed.
