p You will need <a href="https://www.virtualbox.org/wiki/Downloads">VirtualBox</a> and <a href="https://www.vagrantup.com/downloads.html">vagrant</a> to be installed.

p Windows is not supported as ansible control machine, so you don't have to install it. vagrant will use shell scripts inside <kbd>shell</kbd> directory to install and run ansible for you inside the guest machine.
