.notification.alert role='alert' ng-class='notification.class' ng-show='notification.message'
  button type="button" class="close" ng-click='close()'
    span aria-hidden="true" &times;
  ' {{ notification.message }}
